<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Comparar 1111digitais com Rede Siamese</title>
</head>
<body>
  <h1>Comparar 1111digitais com Rede Siamese</h1>
  <form method="POST" action="/match" enctype="multipart/form-data">
    <label>Imagem 1111:</label>
    <input type="file" name="img1" accept=".bmp" required><br><br>

    <label>Imagem 2:</label>
    <input type="file" name="img2" accept=".bmp" required><br><br>

    <input type="submit" value="Comparar">
  </form>
</body>
</html>

